<mat-toolbar>
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <div style="width: 50px;">
            <button mat-icon-button title="Save user preferences" (click)="problemListDS.savePreferences()">
                <mat-icon>save</mat-icon>
            </button>
        </div>
        <div style="width: 200px;">
            <mat-slide-toggle 
                [ngModel]="problemListDS.isToggleMyProblemsSelected" 
                (change)="problemListDS.toggleMyProblems()">
                {{ problemListDS.isToggleMyProblemsSelected ? 'My Problems Only' : 'Showing All Providers' }}
            </mat-slide-toggle>
        </div>
        <div style="width: 200px;">
            <mat-slide-toggle 
                [ngModel]="problemListDS.isToggleActiveSelected" 
                (change)="problemListDS.toggleActiveProblems()">
                {{ problemListDS.isToggleActiveSelected ? 'Active Only' : 'Showing All Problems' }}
            </mat-slide-toggle>
        </div>
        <div style="flex-grow: 1;"></div> <!-- Add a spacer to push the version number to the right -->
        <span class="smallHiddenOff">
            v{{currentApplicationVersion}} ({{problemListDS.userID}})
        </span>
    </div>
</mat-toolbar>
