
.toolbar {
    font-size: 0.8rem;
}
.align-right {
    display: flex;
    justify-content: flex-end;
  }

  .selected {
    color: red; // Replace with your desired styling for the selected mat-icon
}

.mat-button-toggle-checked {
    background-color: #3f51b5; /* Change this to the color you want when the button is pressed */
    color: white; /* Change this to the color you want for the text/icon when the button is pressed */
}

.mat-toolbar {
    height: 40px; /* Adjust this value to your desired height */
    display: flex; /* Use Flexbox */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Distribute items evenly */
}
