// * Import theme from theme generator *//
@use '~@angular/material' as mat;
@import "theme";

.default-table-settings {
    .mat-row {
        height: auto;
    }

    .mat-header-row {
        height: 1rem;
    }

    .mat-header-cell {
        padding: 3px 8px;
    }

    .mat-cell {
        padding: 2px 5px 2px 5px;
    }

    .mat-row:hover {
        background-color: rgb(236, 236, 236);
    }
}

.separator  {
    height:100px;
    vertical-align: bottom;
}

.smallHidden {
    color: rgb(213, 213, 213);
    size: 10pt;
    font-style: italic;
}